<%- include('partials/header') %>
<link rel="stylesheet" href="css/modify.css">

    <body>
        <div class="container">
            <h1><%= heading %></h1>

            <% if (locals.post) { %>
            <form id="editForm" method="post" action="/api/posts/<%=post.id%>">
                <input type="text" name="title" value="<%=post.title %>" />
                <textarea id="content" rows="10"><%=post.content %></textarea>
                <button class="full-width" type="submit"><%= submit %></button>
            </form>
            <% } else {%>
            <form id="newPostForm" method="post" action="/reviews">
                <input type="text" name="destinationname" placeholder="Destinația turistică vizitată" required />
                <textarea
                    name="reviewbody"
                    placeholder="Scrieți recenzia aici..."
                    required
                    rows="10"
                ></textarea>
                <button class="full-width" type="submit" id="publicaBtn"><%= submit %></button>
            </form>
            <% } %>
            <a class="full-width" href="/main" id="cancelBtn">Anulează</a>
        </div>
    </body>
</html>
<%- include('partials/footer') %>