<%- include('partials/header') %>

<link rel="stylesheet" href="/css/modify.css" type="text/css">

        <div class="container jumbotron centered">
            <h1><%= heading %></h1>
            <form id="editForm" method="post" action="/api/reviews/<%=review.reviewid%>">
                <input type="text" placeholder="Destinația turistică vizitată" name="destinationname" value="<%=destinationname %>" />
                <textarea name="reviewbody" id="content" placeholder="Scrieți aici recenzia dumneavoastră..." rows="10"><%=review.reviewbody %></textarea>
                <div id="starRating" data-lyket-type="rate" data-lyket-id="my-<%=starId%>-post" data-lyket-show-rating="user"></div>
                <button class="full-width" type="submit" id="publicaBtn"><%= submit %></button>
            </form>
            <!-- Aici vine bara de stelute -->
            
            <a class="full-width" href="/main" id="cancelBtn">Anulează</a>
        </div>
<%- include('partials/footer') %>